#transactionsTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  margin-top: 30px;
  padding-bottom: 10px;
}
.transactionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: tan;
  border: 2px solid black;
}
