#transactionsTitle {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  border-bottom: 1px solid #bbb;
  margin-top: 40px;
  padding-bottom: 10px;
}
.transactionsContainer {
  list-style-type: none;
}
