.balanceContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 7px;
}
#balance {
  font-size: 22px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;

}
#total {
  font-size: 25px;
  padding: 10px;
  letter-spacing: 1px;
  color: darkBlue;
  font-weight: bold;
}
